body {
    background-color: white;
}

#mainBar {
    display: absolute;
    flex: row;
    max-height: 75px;
    align-items: center;
    list-style-type: none;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: rgb(207, 207, 207);
}

main {
    margin-top: 3%;
}

#mainbar > div {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    object-fit: contain;
}

#app-elements {
    position: relative;
    left: 5%;
    margin: auto;
    overflow: auto;
    padding: auto;
    align-items: center;
}

.grid {
    padding: auto;
}

#logo {
    position: relative;
    right: 20px;
    width: 447px;
    max-width: 100%;
    max-height: fit-content;
}

#userIcon {
    right: 360px;
    position: absolute;
    width: auto;
    height: 75px;
}

#userName {
    top:45%;
    position: absolute;
    right: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#logout {
    top: 30%;
    position: absolute;
    right: 40px;
    width: 28px;
    max-height: auto;
}

#logout-text {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
}

#dot3 {
    top: 40%;
    position: absolute;
    right: 90px;
}

#config {
    top: 30%;
    position: absolute;
    right: 125px;
    width: 31px;
    max-height: auto;
}

#config-text {
    right: 105px;
    position: absolute;
    bottom:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#messaging {
    display: none;
    position: relative;
    height: auto;
    max-width: 100%;
}

#messaging-panel {
    display: block;
    border: 1px solid;
    border-color: #dcdddf;
    width: 80%;
    left: auto;
    right: auto;
    font-size: 0;
}

#mail-buttons {
    border-bottom: 1px solid;
    border-color: #dcdddf;
}

#search {
    height: 30px;
    right: 1px;
}

.button {
    background-color: white;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #dcdddf;
    padding: 15px 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
    background-color: whitesmoke;
}

.button:active {
    background-color: red;
    color: white;
}

#received-mails {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: black;
    font-size: 16px;
}

#received-mails tr, #received-mails td {
    border-bottom: 1px solid #ddd;
    padding: 8px; 
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#received-mails td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fefefe;
    color: #626262; 
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.arrow {
    height: 15px;
    max-width: 100%;
}

#john-mail {
    background-color: #f9f9f9;
    height: 200px;
    border-bottom: 1px solid #ddd;
}

#concept-mail {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #6a6a6a;
    top: 10px;
    left: 70px;
    position: relative;
}

#body-mail {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6a6a6a;
    top: 10px;
    left: 70px;
    width: 80%;
    position: relative;
}

#calendar {
    display: none;
    position: relative;
    height: auto;
    max-width: 100%;
}

#care {
    display: none;
    position: relative;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 1024){       /*Media Query Tablet */
    #logo {
        position: relative;
        right: 20px;
        width: 447px;
        max-width: 100%;
        max-height: fit-content;
    }
    
    #userIcon {
        right: 360px;
        position: absolute;
        width: auto;
        height: 75px;
    }
    
    #userName {
        top:45%;
        position: absolute;
        right: 200px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    
    #logout {
        top: 30%;
        position: absolute;
        right: 40px;
        width: 28px;
        max-height: auto;
    }
    
    #logout-text {
        position: absolute;
        bottom: 10px;
        right: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: red;
    }
    
    #dot3 {
        top: 40%;
        position: absolute;
        right: 90px;
    }
    
    #config {
        top: 30%;
        position: absolute;
        right: 125px;
        width: 31px;
        max-height: auto;
    }
    
    #config-text {
        right: 105px;
        position: absolute;
        bottom:10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
}

@media screen and (max-width: 640px){
    #logo {
        position: relative;
        right: 20px;
        width: 447px;
        max-width: 100%;
        max-height: fit-content;
    }
    
    #userIcon {
        right: 125px;
        position: absolute;
        width: auto;
        height: 75px;
    }
    
    #userName {
        display: none;
        top:45%;
        position: absolute;
        right: 200px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    
    #logout {
        top: 30%;
        position: absolute;
        right: 20px;
        width: 28px;
        max-height: auto;
    }
    
    #logout-text {
        display: none;
    }
    
    #dot3 {
        display: none;
    }
    
    #config {
        top: 30%;
        position: absolute;
        right: 75px;
        width: 31px;
        max-height: auto;
    }
    #config-text {
        display: none;
    }

    #messaging-panel {
        display: none;
        margin: auto;
        padding: 1%;
        background: url(/Responsive/images/messaging_panel_smartphone.png);
    }
}

@media screen and (max-width: 320px){
    html, main {
        overflow-x: hidden;    
    }

    #app-elements {
        overflow-x: hidden;
        position: relative;
        left: 1.5%;
        margin: auto;
        overflow: auto;
        padding: auto;
        align-items: center;
    }
    
    #logo {
        position: relative;
        right: 20px;
        width: 230px;
        max-height: auto;
    }
    
    #userIcon {
        top: 27%;
        right: 75px;
        position: absolute;
        width: auto;
        height: 35px;
    }
    
    #logout {
        top: 30%;
        position: absolute;
        right: 0px;
        max-width: 100%;
        max-height: auto;
    }

    
    #dot3 {
        display: none;
    }
    
    #config {
        top: 30%;
        position: absolute;
        right: 35px;
        max-width: 100%;
        max-height: auto;
    }
}

