body {
    background-color: white;
}

#mainBar {
    display: absolute;
    flex: row;
    max-height: 75px;
    width: auto;
    align-items: center;
    list-style-type: none;
    position: -webkit-sticky; /* Safari */
    position: relative;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: rgb(207, 207, 207);
}

main {
    margin-top: 3%;
    width: 100%;
}

#mainbar > div {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    object-fit: contain;
}

.notification {
    position: absolute;
    top: 9%;
    right: 37%;
    background-color: #ff5033;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}

.number {
    position: relative;
    top: 20%;
}

#app-elements {
    position: relative;
    margin: auto;
    overflow: auto;
    padding: auto;
    align-items: center;
}

.grid {
    padding: auto;
}

#logo {
    position: relative;
    width: 447px;
    max-width: 100%;
    max-height: fit-content;
}

#userIcon {
    right: 360px;
    position: absolute;
    width: auto;
    height: 75px;
}

#userName {
    top:45%;
    position: absolute;
    right: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#logout {
    top: 30%;
    position: absolute;
    right: 40px;
    width: 28px;
    max-height: auto;
}

#logout-text {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
}

#dot3 {
    top: 40%;
    position: absolute;
    right: 90px;
}

#config {
    top: 30%;
    position: absolute;
    right: 125px;
    width: 31px;
    max-height: auto;
}

#config-text {
    right: 105px;
    position: absolute;
    bottom:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.bar {
    background-color: #dfe0e5;
    height: 40px;
    max-width: 100%;
}

.bar-icon {
    display: block;
    position: absolute;
    top: 2px;
    left: 30px;
    height: 35px;
    width: auto;
}

.bar-text {
    display: block;
    position: absolute;
    top: 10px;
    left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #868686;
}


#messaging {
    display: none;
    position: relative;
    height: auto;
    max-width: 100%;
}

#messaging-panel {
    display: block;
    border: 1px solid grey;
    border-color: #dcdddf;
    margin: 1%;
    width: 80%;
    left: auto;
    right: auto;
    font-size: 0;
}


#mail-buttons>div:first-child {
    width: 1px;
}


#all-mails {
    position: relative;
    left: -22.5px;
    width: auto;
}

#search {
    height: 30px;
    right: 1px;
}

.button {
    background-color: white;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #dcdddf;
    padding: 15px 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
    background-color: whitesmoke;
}

.button:active {
    background-color: red;
    color: white;
}

#received-mails {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: black;
    font-size: 16px;
}

#received-mails tr, #received-mails td {
    border-bottom: 1px solid #ddd;
    padding: 8px; 
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#received-mails td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fefefe;
    color: #626262; 
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.arrow {
    height: 15px;
    max-width: 100%;
}

#rotate {
    rotate: 0;
}

#john-mail {
    display: none;
    background-color: #f9f9f9;
    height: 200px;
    border-bottom: 1px solid #ddd;
}

#concept-mail {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #6a6a6a;
    top: 10px;
    left: 70px;
    position: relative;
}

#body-mail {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6a6a6a;
    top: 10px;
    left: 70px;
    width: 90%;
    position: relative;
}

#reply-mail {
    position: relative;
    left: 1250px;
    bottom: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #047f7c;
    background-color: #00dabf;
    height: 30px;
    max-width: 70px;
}

#delete-mail {
    position: relative;
    left: 1330px;
    bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #f6ffff;
    background-color: #fd4e3d;
    height: 30px;
    max-width: 70px;
}

#prev-msg {
    background-color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#reminders-calendar {
    display: none;
    position: relative;
    height: auto;
    max-width: 100%;
}

#reminders-panel {
    position: relative;
    margin: 1%;
    background-color: #fcfcfe;
    border: 1px solid #c2cbd0;
    width: 1200px; 
    height: 500px;  
}

#reminders {
    position: relative;
    padding: 3%;
    left: 60px;
    height: 55%;
    width: 40%;
}

#today {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 1%;
    font-size: 18px;
    font-weight: bold;
    color: #999d9e;
    text-align: center;
}

#current-date {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 1%;
    font-size: 16px;
    color: #999d9e;
    text-align: center;
}

/* TODO: pasar events a px */

.event {
    display: block;
    position: absolute;
    background-color: #ff503d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 60%;
    height: 10%;
    color: white;
    left: 15%;
    margin: 1%;
    padding: 3%;
}

.event-icon {
    position: absolute;
    height: 30px;
    max-width: 100%;
}

#phone-main-text {
    position: absolute;
    left: 65px;
}

#phone-secondary-text {
    position: absolute;
    left: 65px;
    font-size: 14px;
}

#calendar-main-text {
    position: absolute;
    left: 65px;
}

#calendar-secondary-text {
    position: absolute;
    bottom: 20px;
    left: 65px;
    font-size: 14px;
}

/* #event-info {

} */

#event-header {
    display: block;
    position: absolute;
    background-color: #ff503d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 60%;
    height: 10%;
    color: white;
    left: 15%;
    top: 50%;
    margin: 1%;
    padding: 3%;
}

#event-body {
    display: block;
    position: absolute;
    height: 55%;
    width: 60%;
    background-color: #e4e4e6;
    top: 68%;
    left: 15%;
    margin: 1%;
    padding: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #535355;
}

#event-body>span:first-child {
    position: relative;
    top: 5px;
    left: 20px;
}

#event-body>span ~ span{
    position: relative;
    top: 5px;
    left: 20px;
    font-weight: bold;        
}

#event-body>p {
    font-size: 16px;
    position: relative;
    left: 10px;
}

#change-event {
    position: absolute;
    left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #047f7c;
    background-color: #00dabf;
    height: 35px;
    width: 80px;
}

#change-event-text {
    position: absolute;
    margin: 8%;
    left: 5%;
    font-family: inherit;
    font-size: inherit;   
}

#done-event-text {
    position: absolute;
    margin: 8%;
    left: 16%;
    font-family: inherit;
    font-size: inherit;   
}

#done-event {
    position: absolute;
    right: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #f6ffff;
    background-color: #fd4e3d;
    height: 35px;
    width: 80px;
}

#calendar {
    position: absolute;
    right: 1%;
    top: 4%;
    right: 60px;
    padding: 3%;
    margin: auto;
    width: 40%;
}

#month {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #959a9d;
    text-align: center;
    height: 20px;
}

#day, #date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#day {
    background-color: #00dabf;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #525e5a;
    padding: 1%;
}

#date-grid button{
    position: relative;
    border: 0;
    width: 4.5ch;
    height: 4.5ch;
    border-radius: 50%;
    font-size: 23px;
    color: #9e9e9e;
    background-color: transparent;
  }

#date-grid button:first-child {
    grid-column: 7;
}

#date-grid button:hover {
    background-color: #ff8a81;
    color: #f8f5ff;
}

#date-grid button:active {
    background-color: red;
    border: 2px solid #aba7a8;
}

#care {
    display: none;
    position: relative;
    height: auto;
    max-width: 100%;
}

#care-panel {
    display: block;
    border: 1px solid #dcdddf;
    background-color: #f8f7f5;
    margin: 1%;
    max-width: 700px;
    left: auto;
    right: auto;
    font-size: 0;
}

#care-buttons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 20%;
    border-bottom: 1px solid #dcdddf;
}

.circle-button {
    background-color: white;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #dcdddf;
    padding: 15px 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 16px;
}

.circle-button-selected {
    display: block;
    position: relative;
    background-color: #fd4c38;
    height: 10px;
    top: 55%;
    right: 13.5%;
    width: 127.5%;
}


.circle-button:hover {
    background-color: whitesmoke;
}

.circle-button:active {
    background-color: red;
    color: white;
}

#my-circle {
    display: block;
    position: relative;
    width: 80%;
    height: 100%;
}

#circle-instructions {
    display: block;
    position: relative;
    bottom: -30px;
    left: 10%;
    background-color: #e4e3e1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5b595a;
    text-align: center;
    max-width: fit-content;
    margin: auto;
    padding: 1%;
}

#friends {
    display: grid;
    margin: 7%;
    grid-template-columns: repeat(2, 80%);
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    width: 80%;
    height: 500px;
}

.red-friend {
    position: relative;
    display: block;
    width: 250px;
    height: 120px;
    top: 20%;
    background-color: white;
    border-left: 10px solid #ff4c38;
    border-right: 1px solid #dbd9da;
    border-top: 1px solid #dbd9da;
    border-bottom: 1px solid #dbd9da;
}

.send-red {
    background-color: #ff4c38;
    width: 50%;
    height: 30%;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.send-text {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    top: 25%;
    right: 10%;
}

.blue-friend {
    position: relative;
    display: block;
    width: 250px;
    height: 120px;
    top: 20%;
    background-color: white;
    border-left: 10px solid #00dabf;
    border-right: 1px solid #dbd9da;
    border-top: 1px solid #dbd9da;
    border-bottom: 1px solid #dbd9da;
}

.send-blue {
    background-color: #00dabf;
    width: 50%;
    height: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #086668;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.prof-pic {
    position: absolute;
    left: 8%;
    top: 30%;
    background: transparent;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 5px solid #e6e6e6;
}

.pic {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.name {
    position: absolute;
    right: 8%;
    top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #a7a9a8;
}

.job {
    position: absolute;
    right: 8%;
    top: 25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #a7a9a8;
}

@media screen and (max-width: 1024px){       /*Media Query Tablet */

    #messaging-panel {
        width: 95%;
    }
    
    #reminders-panel {
    position: relative;
    margin: 1%;
    background-color: #fcfcfe;
    border: 1px solid #c2cbd0;
    width: 95%; 
    height: 500px;  
    }

        #reminders {
    position: relative;
    padding: 3%;
    left: 60px;
    height: 55%;
    width: 40%;
}

#today {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 1%;
    font-size: 18px;
    font-weight: bold;
    color: #999d9e;
    text-align: center;
}

#current-date {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 1%;
    font-size: 16px;
    color: #999d9e;
    text-align: center;
}

/* TODO: pasar events a px */

.event {
    display: block;
    position: absolute;
    background-color: #ff503d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 215px;
    height: 10%;
    color: white;
    left: 15%;
    margin: 1%;
    padding: 3%;
}

.event-icon {
    position: absolute;
    height: 30px;
    max-width: 100%;
}

#phone-main-text {
    position: absolute;
    left: 22%;
}

#phone-secondary-text {
    position: absolute;
    left: 22%;
    font-size: 14px;
}

#calendar-main-text {
    position: absolute;
    left: 22%;
}

#calendar-secondary-text {
    position: absolute;
    bottom: 16%;
    left: 22%;
    font-size: 14px;
}

/* #event-info {

} */

#event-header {
    display: block;
    position: absolute;
    background-color: #ff503d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 215px;
    height: 10%;
    color: white;
    left: 15%;
    top: 45%;
    margin: 1%;
    padding: 3%;
}

#event-body {
    display: block;
    position: absolute;
    height: 225px;
    width: 215px;
    background-color: #e4e4e6;
    top: 63%;
    left: 15%;
    margin: 1%;
    padding: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #535355;
}

#event-body>span:first-child {
    position: relative;
    top: 5px;
    left: 20px;
}

#event-body>span ~ span{
    position: relative;
    top: 5px;
    left: 20px;
    font-weight: bold;        
}

#event-body>p {
    font-size: 16px;
    position: relative;
    left: 10px;
}

#change-event {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #047f7c;
    background-color: #00dabf;
    height: 35px;
    width: 80px;
}

#change-event-text {
    position: absolute;
    top: 10%;
    margin: 8%;
    left: 10%;
    font-family: inherit;
    font-size: inherit;   
}

#done-event {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #f6ffff;
    background-color: #fd4e3d;
    height: 35px;
    width: 80px;
}
    
#done-event-text {
    position: absolute;
    top: 10%;
    margin: 8%;
    left: 20%;
    font-family: inherit;
    font-size: inherit;   
}

#calendar {
    position: absolute;
    right: 1%;
    top: 4%;
    right: 60px;
    padding: 3%;
    margin: auto;
    width: 40%;
}

#month {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #959a9d;
    text-align: center;
    height: 20px;
}

#day, #date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#day {
    background-color: #00dabf;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #525e5a;
    padding: 1%;
}

#date-grid button{
    position: relative;
    border: 0;
    width: 3.0ch;
    height: 4.5ch;
    border-radius: 50%;
    font-size: 23px;
    color: #9e9e9e;
    background-color: transparent;
  }

#date-grid button:first-child {
    grid-column: 7;
}

#date-grid button:hover {
    background-color: #ff8a81;
    color: #f8f5ff;
}

#date-grid button:active {
    background-color: red;
    border: 2px solid #aba7a8;
}
}

@media screen and (max-width: 640px){
    #logo {
        position: relative;
        right: 20px;
        width: 447px;
        max-width: 100%;
        max-height: fit-content;
    }
    
    #userIcon {
        right: 125px;
        position: absolute;
        width: auto;
        height: 75px;
    }
    
    #userName {
        display: none;
        top:45%;
        position: absolute;
        right: 200px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    
    #logout {
        top: 30%;
        position: absolute;
        right: 20px;
        width: 28px;
        max-height: auto;
    }
    
    #logout-text {
        display: none;
    }
    
    #dot3 {
        display: none;
    }
    
    #config {
        top: 30%;
        position: absolute;
        right: 75px;
        width: 31px;
        max-height: auto;
    }
    #config-text {
        display: none;
    }

    #messaging-panel {
        display: none;
        margin: auto;
        padding: 1%;
    }
}

@media screen and (max-width: 414px){
    html, main {
        overflow-x: hidden;    
    }

    #mainBar {
    width: 100%;
}

    #app-elements {
        overflow-x: hidden;
        position: relative;
        left: 1.5%;
        margin: auto;
        overflow: auto;
        padding: auto;
        align-items: center;
    }
    
    #logo {
        position: relative;
        right: 20px;
        width: 230px;
        max-height: auto;
    }
    
    #userIcon {
        top: 20%;
        right: 110px;
        position: absolute;
        width: auto;
        height: 45px;
    }
    
    #logout {
        top: 30%;
        position: absolute;
        right: 20px;
        max-width: 100%;
        max-height: auto;
    }

    
    #dot3 {
        display: none;
    }
    
    #config {
        top: 30%;
        position: absolute;
        right: 60px;
        max-width: 100%;
        max-height: auto;
    }

    .bar-text {
        left: 20%;
    }

    #messaging-panel {
        width: fit-content;
    }

    #received-mails {
        position: relative;
        right: 3%;
    }

    #received-mails td:nth-child(3){
        display: none;
    }

    .arrow {
    height: 15px;
    max-width: 15px;
}

    #john-mail {
    display: none;
    background-color: #f9f9f9;
    height: 350%;
    border-bottom: 1px solid #ddd;
}

#concept-mail {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #6a6a6a;
    top: 10px;
    left: 40px;
    position: relative;
}

#body-mail {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #6a6a6a;
    top: 10px;
    left: 40px;
    width: 80%;
    position: relative;
}

#reply-mail {
    position: relative;
    left: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #047f7c;
    background-color: #00dabf;
    height: 30px;
    max-width: 70px;
}

#delete-mail {
    position: relative;
    left: 70%;
    bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #f6ffff;
    background-color: #fd4e3d;
    height: 30px;
    max-width: 70px;
}

    #reminders-panel {
    position: relative;
    margin: 1%;
    background-color: #fcfcfe;
    border: 1px solid #c2cbd0;
    width: 90%; 
    height: 750px;  
}

    #reminders {
    position: relative;
    padding: 3%;
    left: -7px;
    height: 45%;
    width: 100%;
}

#today {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 1%;
    font-size: 130%;
    font-weight: bold;
    color: #999d9e;
    text-align: center;
}

#current-date {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 1%;
    font-size: 16px;
    color: #999d9e;
    text-align: center;
}

/* TODO: pasar events a px */

.event {
    display: block;
    position: absolute;
    background-color: #ff503d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 60%;
    height: 10%;
    color: white;
    margin: 1%;
    padding: 3%;
}

.event-icon {
    position: absolute;
    height: 30px;
    max-width: 100%;
    top: 25%;
}

#phone-main-text {
    position: absolute;
    left: 22%;
    top: 20%;
}

#phone-secondary-text {
    position: absolute;
    left: 22%;
    font-size: 14px;
    bottom: 20%;
}

#calendar-main-text {
    position: absolute;
    left: 22%;
    top: 20%;
}

#calendar-secondary-text {
    position: absolute;
    bottom: 20%;
    left: 22%;
    font-size: 14px;
}

/* #event-info {

} */

#event-header {
    display: block;
    position: absolute;
    background-color: #ff503d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 60%;
    height: 10%;
    color: white;
    top: 125px;
    margin: 1%;
    padding: 3%;
}

#event-body {
    display: block;
    position: absolute;
    height: 200px;
    width: 60%;
    background-color: #e4e4e6;
    top: 180px;
    left: 15%;
    margin: 1%;
    padding: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    color: #535355;
}

#change-event {
    position: absolute;
    left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #047f7c;
    background-color: #00dabf;
    height: 35px;
    width: 80px;
}

#change-event-text {
    position: absolute;
    margin: 12%;
    left: 5%;
    font-family: inherit;
    font-size: inherit;   
}

#done-event-text {
    position: absolute;
    margin: 12%;
    left: 16%;
    font-family: inherit;
    font-size: inherit;   
}

#done-event {
    position: absolute;
    right: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #f6ffff;
    background-color: #fd4e3d;
    height: 35px;
    width: 80px;
}

#calendar {
    display: block;
    position: absolute;
    top: 450px;
    padding: 3%;
    margin: auto;
    width: 60%;
}

#month {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #959a9d;
    text-align: center;
    height: 20px;
}

#day, #date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#day {
    position: relative;
    width: 250px;
    right: 27px;
    background-color: #00dabf;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #525e5a;
    padding: 1%;
}

#date-grid button{
    position: relative;
    right: 25px;
    border: 0;
    width: 4ch;
    height: 4ch;
    border-radius: 50%;
    font-size: 16px;
    color: #9e9e9e;
    background-color: transparent;
  }

#date-grid button:first-child {
    grid-column: 7;
}

#date-grid button:hover {
    background-color: #ff8a81;
    color: #f8f5ff;
}

#date-grid button:active {
    background-color: red;
    border: 2px solid #aba7a8;
}

    #care-panel {
        width: 90%;
        height: 900px;
    }

    #circle-instructions {
        display: none;
    }
    
    #care-buttons {
    display: grid;
    color: #9c9e9d;
    grid-template-columns: repeat(1, auto);
    height: 20%;
    }

    #friends {
        grid-template-columns: repeat(1, auto);
    }    
}