body {
    background-color: white;
}

#mainBar {
    display: flex;
    flex: row;
    max-height: 50px;
    align-items: center;
    list-style-type: none;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: white;
    border-bottom: grey;
}

#mainbar > div {
    height: fit-content;
    width: fit-content;
    padding: 10px;
    object-fit: contain;
}

#userIcon {
    width: 75px;
    max-width: 100%;
    max-height: auto;
}

/* #mainbar#user {
    height: inherit;
    margin: 0;
    width: 50px;
    display: flex;
    flex: row;
    align-items: center;
    left: 60%;
}

#logoWeb {
    position: relative;
    right: 20px;
    width: 447px;
    max-width: 100%;
    max-height: auto;
}


#logout {
    position: absolute;
    right: 40px;
    width: 28px;
    max-height: auto;
}

#dot3 {
    position: absolute;
    right: 85px;
}

#config {
    position: absolute;
    right: 95px;
    width: 31px;
    max-height: auto;
}
*/
#app-elements {
    position: relative;
    margin: auto;
    width: 80%;
    overflow: auto;
    padding: auto;
    align-items: center;
} 
