#overlap {
    position: fixed;
    height: 100px;
    width: 100px;
    top: 96px;
    left: 96px;
    background-color: red;
}

.font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
}